body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 60%;
}

#image {
  width:150px;
  height:150px;
}

#display {
  position: absolute;
  margin-right: 20px;
}

html,
body {
      min-height: 100%;
      background-color: none;
    }

body {
  background-image: linear-gradient(#a1a1a1, #000000);
}

.App {
  margin-top: 150px;
  text-align: center;

}

.App-header {
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  padding-top: 5px;
  padding-left: 20px;
}

.App-link {
  color: #61dafb;
}

a {
  transition: all .4s ease;
  font-family: 'Courier New', monospace;
  border-radius: 5px;
  border: 2px solid  #1DB954;
  background-color: #000000;
  color: #1DB954;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  border-radius: 14px;
}

a:hover {
  border: 2px solid  #1DB954;
  background-color: #ffffff;
  color: #000000;
}

.format {
  --radius: 0;
  --baseFg:#1DB954;
  --baseBg: black;
  --accentFg: black;
  --accentBg: #1DB954;
}

select {
  font-family: 'Courier New', monospace;
  font: 400 12px/1.3 monospace;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  margin-left: 10px;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: var(--accentBg) , var(--accentFg) ;
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
}


a:visited {
  color: #1DB954;
  background-color: transparent;
  text-decoration: none;
}

.button {
  transition: all .4s ease;
  font-family: 'Courier New', monospace;
  border-radius: 5px;
  border: 2px solid  #1DB954;
  background-color: #000000;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  border-radius: 14px;
}

.button:hover {
  border: 2px solid  #1DB954;
  background-color: #ffffff;
  color: #000000;
}